@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ini untuk slicing/styling section */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* ini untuk slicing/styling header */
header {
    background: rgb(21, 14, 138);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.891) 36%, rgba(206,255,0,0.700717787114846) 91%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    color: #333;
    line-height: 30px;
}

.content .textbox h2{
    color: blue;
    font-size: 50px;
}

.content .textbox p {
    color: #333;
    font-weight: bold;
    margin-top: 30px;
}

.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 0px 20px;
    background-color: #1a29ff;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.content .imgbox {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(202, 228, 34);
    background: radial-gradient(circle, rgb(27, 210, 230) 0%, rgb(251, 255, 27) 100%);
    clip-path: circle(600px at right 800px);
}

.subhero{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.subhero li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.subhero li img {
    max-width: 150px;
}

.subhero li:hover{
    transform: translateY(-15px);
}

.sosmed {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sosmed li {
    list-style: none;
}

.sosmed li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(21, 14, 138);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.891) 36%, rgba(206,255,0,0.700717787114846) 91%);
    color: #333;
}