body, html {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.container {
    width: 600px;
    margin: 50px auto;
    border: 5px solid black;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 3, 3);
    padding: 40px;
}

.sidebar aside {
    background-color: greenyellow;
    padding: 40px;
}

.sidebar nav {
    background-color: rgb(0, 4, 220);
    padding: 40px;
}

main {
    background-color: rgb(123, 134, 27);
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #2F93FF;
    padding: 20px;
}

.content {
    display: flex;
}

.sidebar {
    flex: 1;
}
